:root {
    --title: #ffffff;
    --titulo-color : #ee704d;
    --tituloResenha-color : #ffffff;
    --tituloProdutoNome : #ffffff;
    --tituloHamburguer: #3C2F2F;
    --tituloNameCinza: #6a6a6a;
    --letrasColor: '#ffffff';
    --retangulosOp-color:#ca0717;
    --boxColor : #ffffff;
    --containerIngrediente: #2d2519;
    --quantidadeIngrediente:#2d2519;
    --btnFinaizar-color: #ee704d;
    --valor-color: #ca0717;

    /* --quantidadeIngrediente:#6D2E19; */

}